@import "../../../../../../theme/sass/conf/conf";
.main-content {
    padding-top: 1rem;
    .data-table {
        text-align: center;
        margin-top: 1rem;
        .edit-button {
            margin: .3rem;
            &>span {
                background-color: $buttons;
                padding: .2rem .5rem;
            }
        }
    }
}