<div class="header">
    {{'User Name'|i18nPips}}:<input (keyup)="searchEnterSearch($event)" type="text" name="userName" class="userName" [(ngModel)]="userNameSearch">
    {{'Employee ID'|i18nPips}}:<input (keyup)="searchEnterSearch($event)" type="text" name="userName" class="userName" [(ngModel)]="employeeSearch">
    {{'Department'|i18nPips}}:<input (keyup)="searchEnterSearch($event)" type="text" name="Department" class="Department" [(ngModel)]="DepartmentSearch">
    <button pButton type="button" (click)="search()" [label]="'Search'|i18nPips"></button>
</div>
<p-dataTable [rows]="15" [value]="gridStore" class="data-table" [rowHover]=true scrollable="true" scrollHeight="50rem">
    <p-column field="id" [header]="'No' | i18nPips" styleClass="ui-grid-col-1 align-center"></p-column>
    <p-column field="userName" [header]="'User Name' | i18nPips" styleClass="ui-grid-col-2"></p-column>
    <!-- <p-column field="userCode" [header]="'User Code' | i18nPips" styleClass="ui-grid-col-2 align-center"></p-column> -->
    <p-column field="employeeCode" [header]="'Employee ID' | i18nPips" styleClass="ui-grid-col-2 align-center"></p-column>
    <p-column field="jobPosition" [header]="'Job' | i18nPips" styleClass="ui-grid-col-2 align-center"></p-column>
    <p-column field="telephone" [header]="'Telephone'|i18nPips" styleClass="ui-grid-col-2 align-center"></p-column>
    <p-column field="emailAddress" [header]="'Email'|i18nPips" styleClass="ui-grid-col-2 align-center"></p-column>
    <p-column field="departmentName" [header]="'Department'|i18nPips" styleClass="ui-grid-col-2"></p-column>
    <p-column field="masterName" [header]="'Manager'|i18nPips" styleClass="ui-grid-col-2 align-center"></p-column>
</p-dataTable>
<p-paginator rows="{{gridStoreRows}}" first="{{gridStoreFirst}}" totalRecords="{{gridStoreLen}}" pageLinkSize="3" [rowsPerPageOptions]="[15,30,45]" (onPageChange)="paginate($event)"></p-paginator>
<p-growl styleClass="message-class" [(value)]="msgs" life="{{growLife}}"></p-growl>