<div style="width:20%;float:left;">
    <p-dataTable [rows]="10" [value]="gridStore" class="data-table" [rowHover]=true scrollable="true" scrollHeight="45rem" (onRowClick)="programGridRowClick($event)"
        selectionMode="single" [(selection)]="selectedStore">
        <p-header>
            <div class="previous-head">{{ProgramSearchTitle}}</div>
            <button pButton type="button" class="previous-button" icon="fa-search" (click)="lookUpBtn()"></button>
            <button pButton type="button" class="previous-button" icon="fa-reply-all" (click)="changeProgram()"></button>
        </p-header>
        <p-column field="programCode" header="Program Code" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column field="modelYear" header="Model Year" styleClass="ui-grid-col-2 align-center"></p-column>
    </p-dataTable>
</div>
<div style="width:79%;float:right;">
    <div class="topBar" *ngIf="userRoot">
        <!-- <button pButton type="button" (click)="missionBtn()" label="Distribution Scorecard mission"></button> -->
        <button pButton type="button" [(disabled)]="!selectedPqrrMilestone || !canSubmit" (click)="submitBtn()" label="Submit"></button>
        <button pButton type="button" [(disabled)]="!selectedPqrrMilestone" (click)="changeLogBtn()" label="Change Log"></button>
    </div>
    <p-tabView class="tab-view">
        <p-tabPanel header="ScoreCard Status">
            <p-dataTable [rows]="12" [value]="statusStore" class="data-table" scrollable="true" scrollHeight="36rem" selectionMode="single"
                [(selection)]="statusSelectedStore" [rowHover]=true (onRowClick)="statusGridRowClick($event)">
                <p-column field="id" header="No" styleClass="ui-grid-col-1 align-center"></p-column>
                <p-column field="subject" header="Subject" styleClass="ui-grid-col-4 align-center"></p-column>
                <p-column field="pqrrMilestoneName" header="Milestone" styleClass="ui-grid-col-2 align-center"></p-column>
                <p-column field="userName" header="Release user" styleClass="ui-grid-col-2 align-center"></p-column>
                <p-column field="createDate" header="Release date" styleClass="ui-grid-col-2 align-center"></p-column>
                <p-column *ngIf="userRoot" header="" styleClass="ui-grid-col-3 align-center">
                    <template pTemplate="body" let-item="rowData">
                    <span *ngIf="currentUser == item.createUser">
                        <span *ngIf="item.id && item.freezedStatus != 2 && item.freezedStatus != 3 && item.status == 1" class="editBtn" (click)="editBtn(item)">Edit</span>
                        <span *ngIf="item.id && item.freezedStatus != 2 && item.freezedStatus != 3 && item.status == 1" class="editBtn" (click)="notifyBtn(item)">Notify</span>
                        <span *ngIf="item.id && item.freezedStatus == 3" class="editBtn" (click)="changeBtn(item)">Change</span>

                        <span *ngIf="item.id && (item.freezedStatus == 3 || item.freezedStatus == 1) && item.status == 1" class="editBtn" (click)="freezeBtn(item)">Freeze</span>
                        <span *ngIf="item.id && item.freezedStatus == 2 && item.status == 1" class="editBtn" (click)="unFreezeBtn(item)">Un Freeze</span>
                        <span *ngIf="item.id && (item.freezedStatus == 3 || item.freezedStatus == 1) && item.status != 1" class="noEditBtn">Freeze</span>
                        <span *ngIf="item.id && item.freezedStatus == 2 && item.status != 1" class="noEditBtn">Un Freeze</span>
                        <!-- <span *ngIf="item.id && item.freezedStatus == 0" class="editBtn" (click)="delBtn(item)">Delete</span> -->
                        <span *ngIf="item.id && (item.freezedStatus == 2 || item.freezedStatus == 3) && item.status != 1" class="noEditBtn">Edit</span>
                        <span *ngIf="item.id && (item.freezedStatus == 2 || item.freezedStatus == 3) && item.status != 1" class="noEditBtn">Notify</span>
                        <!-- <span *ngIf="item.id && item.freezedStatus != 0" class="noEditBtn">Delete</span> -->
                    </span>
                    <span *ngIf="currentUser != item.createUser">
                        <span *ngIf="item.id" class="noEditBtn">Edit</span>
                        <span *ngIf="item.id" class="noEditBtn">Change</span>
                        <span *ngIf="item.id" class="noEditBtn">Notify</span>
                    </span>
                    </template>
                </p-column>
            </p-dataTable>
            <p-paginator totalRecords="{{statusStoreLen}}" [rowsPerPageOptions]="[12,24,36]" rows="{{statusStoreRows}}" first="{{statusStoreFirst}}"
                pageLinkSize="3" (onPageChange)="statusPaginate($event)"></p-paginator>
        </p-tabPanel>
        <p-tabPanel header="Approving Log">
            <p-dataTable scrollable="true" scrollHeight="39rem" selectionMode="single" class="ui-grid data-table" [value]="approvingData">
                    <!-- <p-column styleClass="ui-grid-col-3" field="version" header="Version"></p-column> -->
                    <p-column styleClass="ui-grid-col-3" field="taskName" header="Approval Node"></p-column>
                    <p-column styleClass="ui-grid-col-3" field="userName" header="Name"></p-column>
                    <p-column styleClass="ui-grid-col-3" field="startTime" header="Start Date"></p-column>
                    <p-column styleClass="ui-grid-col-3" field="endTime" header="End Date"></p-column>
                    <p-column styleClass="ui-grid-col-3" field="deleteReason" header="Status"></p-column>
                    <p-column styleClass="ui-grid-col-3" field="isAgree" header="Decision"></p-column>
                    <p-column styleClass="ui-grid-col-3" field="comments" header="Comments"></p-column>
                    <!-- <p-column styleClass="ui-grid-col-3" field="endtime_" header="End Time"></p-column> -->
                </p-dataTable>
        </p-tabPanel>
    </p-tabView>
</div>
<p-dialog header="Locate Program" [(visible)]="lookUpDisplay" width="350" modal="modal" class="dialog">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Program Code:</span>
                <input style="width:69%" class="input" type="text" pInputText [(ngModel)]="programCodeSearch" maxlength="8">
            </div>
        </div>
    </div>
    <div class="lookUpFooter">
        <button pButton type="button" (click)="lookUpSaveBtn()" label="Confirm" style="margin-right:10px"></button>
        <button pButton type="button" (click)="lookUpCancelBtn()" label="Cancel"></button>
    </div>
</p-dialog>
<p-dialog header="Submit" [(visible)]="submitDisplay" width="500" modal="modal" class="dialogCommon">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="padding-top:5px">Process Type:</span>
                <p-dropdown (onChange)="processTypeChange($event)" autoWidth="false" [options]="processTypeStore" [(ngModel)]="processType"
                    appendTo="body"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon-executive" style="padding-top:5px">Approved By EXCOM:</span>
                <p-dropdown class="executive-dropdown" autoWidth="false" [disabled]="exectiveCommtteeFlag" [options]="executiveTypeStore"
                    [(ngModel)]="executiveType" appendTo="body"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Description:</span>
                <textarea type="text" pInputTextarea style="height:80px;width:343px;" [(ngModel)]="decription" maxlength="500"></textarea>
            </div>
        </div>
    </div>
    <div class="lookUpFooter">
        <button pButton type="button" (click)="submitSaveBtn()" label="Confirm" style="margin-right:10px"></button>
        <button pButton type="button" (click)="submitCancelBtn()" label="Cancel"></button>
    </div>
</p-dialog>
<p-dialog header="{{statusSelectedStore.subject}}" [(visible)]="addScoreCardTargetDisplay" width="950" [responsive]="true"
    modal="modal" class="generalDialog">
    <div class="topBar">
        Plan Date:
        <input type="text" style="width:130px" pInputText [(ngModel)]="plandateValue" disabled="true">
    </div>
    <p-dataTable [rows]="10" [value]="scoreCardTargetStore" class="data-table" [rowHover]=true scrollable="true" scrollHeight="30rem">
        <p-column field="id" header="NO" styleClass="ui-grid-col-1 align-center"></p-column>
        <p-column field="colorStatus" header="Color Status" styleClass="ui-grid-col-2 align-center">
            <template pTemplate="body" let-item="rowData">
                <i *ngIf="item.colorStatus == 'G'" (click)="changeColor(item)" class="fa fa-circle green"></i>
                <i *ngIf="item.colorStatus == 'Y'" (click)="changeColor(item)" class="fa fa-circle yellow"></i>
                <i *ngIf="item.colorStatus == 'R'" (click)="changeColor(item)" class="fa fa-circle red"></i>
                <i *ngIf="item.colorStatus == 'W'" (click)="changeColor(item)" class="fa fa-circle white"></i>
                <i *ngIf="!item.colorStatus" (click)="changeColor(item)" style="width:100%;height:100%" class="editBtn margin0">-</i>
            </template>
        </p-column>
        <p-column field="indexName" header="Metrics" styleClass="ui-grid-col-5"></p-column>
        <p-column field="metricGroup" header="Metrics Group" styleClass="ui-grid-col-2"></p-column>
        <p-column field="targetVolume" header="Target" styleClass="ui-grid-col-2"></p-column>
        <p-column field="statusVolume" header="Status" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column field="deptName" header="Department" styleClass="ui-grid-col-2"></p-column>
        <p-column field="ownerName" header="Owner" styleClass="ui-grid-col-2"></p-column>
        <p-column header="" styleClass="ui-grid-col-3 align-center">
            <template pTemplate="body" let-item="rowData">
                <span *ngIf="item.id" class="editBtn margin0" (click)="targetEditBtn(item)">Edit</span>
            </template>
        </p-column>
    </p-dataTable>
    <div class="footer">
        <button *ngIf="scorecardSave" pButton type="button" (click)="scoreCardSaveBtn()" label="Confirm" style="margin-right:10px"></button>
        <button *ngIf="!scorecardSave" pButton type="button" (click)="scoreCardSaveChangeBtn()" label="Confirm" style="margin-right:10px"></button>
        <button pButton type="button" (click)="scoreCardCancelBtn()" label="Cancel"></button>
    </div>
</p-dialog>
<p-dialog header="Review Log Of {{selectedStore.programCode}}" [(visible)]="editSingleDisplay" width="920" minHeight=800
    [responsive]="true" modal="modal" class="dialogCommon">
    <div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon required" style="height:50px;line-height:50px;">Metrics:</span>
                    <textarea type="text" pInputTextarea style="height:50px;" [(ngModel)]="targetMetrics" disabled="true"></textarea>
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon required">Group:</span>
                    <input type="text" disabled="true" pInputText [(ngModel)]="targetGroup">
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon required">Department:</span>
                    <input type="text" disabled="true" pInputText [(ngModel)]="targetDepartment">
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon requiredNone">Owner:</span>
                    <input type="text" pInputText readonly="true" [(ngModel)]="targetOwner" (click)="getUser()" [(disabled)]="isChange">
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon requiredNone" *ngIf="targetItem.dataType != '4'">Target:</span>
                    <span class="ui-inputgroup-addon requiredNone" *ngIf="targetItem.dataType == '4'">Target(%):</span>
                    <input *ngIf="targetItem.dataType == '1'" type="text" pInputText [(ngModel)]="targetTarget" [(disabled)]="!targetDisplay" maxlength="50">
                    <input *ngIf="targetItem.dataType == '2'" type="text" pInputText [(ngModel)]="targetTarget" [(disabled)]="!targetDisplay" (keydown)="msgservice.checkNumValue($event,99999999,true)">
                    <p-calendar *ngIf="targetItem.dataType == '3'" readonlyInput="true" [(ngModel)]="targetTarget" dateFormat="yy-mm-dd" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="{{yearRange}}"></p-calendar>
                    <input *ngIf="targetItem.dataType == '4'" type="text" pInputText [(ngModel)]="targetTarget" [(disabled)]="!targetDisplay" (keydown)="msgservice.checkNumValue($event,100,true)">
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon requiredNone" *ngIf="targetItem.dataType != '4'">Status:</span>
                    <span class="ui-inputgroup-addon requiredNone" *ngIf="targetItem.dataType == '4'">Status(%):</span>
                    <input *ngIf="targetItem.dataType == '1'" type="text" pInputText [(ngModel)]="targetStatus" [(disabled)]="isChange" maxlength="50">

                    <button *ngIf="targetItem.dataType == '2' && !readonlyStatus" [(disabled)]="isChange" pButton type="button" class="previous-button"
                        icon="fa-search" (click)="clickStatus()" style="width:30px;float:right"></button>
                    <input *ngIf="targetItem.dataType == '2' && !readonlyStatus" type="text" pInputText [(ngModel)]="targetStatus" [(disabled)]="isChange" style="width:68%" (keydown)="msgservice.checkNumValue($event,99999999,true)">

                    <input *ngIf="targetItem.dataType == '2' && readonlyStatus" type="text" pInputText [(ngModel)]="targetStatus" [(disabled)]="isChange" (click)="clickStatus()" (keydown)="msgservice.checkNumValue($event,99999999,true)">
                    <p-calendar *ngIf="targetItem.dataType == '3'" readonlyInput="true" [(ngModel)]="targetStatus" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="{{yearRange}}"></p-calendar>

                    <button *ngIf="targetItem.dataType == '4' && !readonlyStatus" pButton type="button" [(disabled)]="isChange" class="previous-button"
                        icon="fa-search" (click)="clickStatus()" style="width:30px;float:right"></button>
                    <input *ngIf="targetItem.dataType == '4' && !readonlyStatus" type="text" pInputText [(ngModel)]="targetStatus" [(disabled)]="isChange" style="width:68%" (keydown)="msgservice.checkNumValue($event,100,true)">

                    <input *ngIf="targetItem.dataType == '4' && readonlyStatus" type="text" pInputText [(ngModel)]="targetStatus" [(disabled)]="isChange" (click)="clickStatus()" (keydown)="msgservice.checkNumValue($event,100,true)">
                </div>
            </div>
            <div class="ui-g-12 ui-md-6" *ngIf="targetItem.scorecardType">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon requiredNone">Revised Target:</span>
                    <input type="text" pInputText [(ngModel)]="proposedTarget" (click)="setProposedTarget()" maxlength="50" readonly="true">
                </div>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon requiredNone">Comments:</span>
                    <input type="text" pInputText [(ngModel)]="targetMemo" maxlength="50">
                </div>
            </div>
        </div>

         <!-- *ngIf="dataSourceDisplay" -->
        <div class="targetGrid">
            <div class="topBar" *ngIf="!isChange">
                <button pButton type="button" (click)="addTargetDataBtn()" label="Add"></button>
            </div>
            <p-dataTable *ngIf="targetGridStore.length>=2" [rows]="2" [value]="targetGridStore" class="data-table" scrollable="true" scrollHeight="6rem">
                <p-column field="subjectName" header="Subject" styleClass="ui-grid-col-1"></p-column>
                <p-column field="subtargetVolume" header="Sub Target" styleClass="ui-grid-col-1"></p-column>
                <p-column field="substatusVolume" header="Status" styleClass="ui-grid-col-1"></p-column>
                <p-column  *ngIf="targetItem.scorecardType" field="proposedVolume" header="Revised" styleClass="ui-grid-col-1"></p-column>
                <p-column *ngIf="!isChange" header="" styleClass="ui-grid-col-1 align-center">
                    <template pTemplate="body" let-item="rowData" let-i="rowIndex">
                        <span *ngIf="item.subjectName" class="editBtn" (click)="targetGridEditBtn(item,i)">Edit</span>
                        <span *ngIf="item.subjectName" class="editBtn" (click)="targetGridDelBtn(item,i)">Delete</span>
                    </template>
                </p-column>
            </p-dataTable>
            <p-dataTable *ngIf="targetGridStore.length<2" [rows]="2" [value]="targetGridStore" class="data-table">
                <p-column field="subjectName" header="Subject" styleClass="ui-grid-col-1"></p-column>
                <p-column field="subtargetVolume" header="Sub Target" styleClass="ui-grid-col-1"></p-column>
                <p-column field="substatusVolume" header="Status" styleClass="ui-grid-col-1"></p-column>
                <p-column  *ngIf="targetItem.scorecardType" field="proposedVolume" header="Revised" styleClass="ui-grid-col-1"></p-column>
                <p-column *ngIf="!isChange" header="" styleClass="ui-grid-col-1 align-center">
                    <template pTemplate="body" let-item="rowData" let-i="rowIndex">
                        <span *ngIf="item.subjectName" class="editBtn" (click)="targetGridEditBtn(item,i)">Edit</span>
                        <span *ngIf="item.subjectName" class="editBtn" (click)="targetGridDelBtn(item,i)">Delete</span>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
        <div class="footer">
            <button pButton type="button" (click)="targerSaveBtn()" label="Confirm" style="margin-right:10px" [(disabled)]="!targetMetrics || !targetGroup"></button>
            <button pButton type="button" (click)="targetCancelBtn()" label="Cancel"></button>
        </div>
    </div>
</p-dialog>
<p-dialog header="Sub Target" [(visible)]="subTargetDisplay" width="400" [responsive]="true" modal="modal" class="dialog generalDialog">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon required">Subject:</span>
                <input type="text" pInputText [(ngModel)]="subSubjectValue" maxlength="50" [(disabled)]="isAdd">
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon required" *ngIf="targetItem.dataType != '4'">Sub Target:</span>
                <span class="ui-inputgroup-addon required" *ngIf="targetItem.dataType == '4'">Sub Target(%):</span>
                <input *ngIf="targetItem.dataType == '1'" type="text" pInputText [(ngModel)]="subTargetValue" maxlength="50">
                <input *ngIf="targetItem.dataType == '2' || targetItem.dataType == '3'" type="text" pInputText [(ngModel)]="subTargetValue" (keydown)="msgservice.checkNumValue($event,99999999,true)">
                <input *ngIf="targetItem.dataType == '4'" type="text" pInputText [(ngModel)]="subTargetValue" (keydown)="msgservice.checkNumValue($event,100,true)">
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon requiredNone" *ngIf="targetItem.dataType != '4'">Status:</span>
                <span class="ui-inputgroup-addon requiredNone" *ngIf="targetItem.dataType == '4'">Status(%):</span>
                <input *ngIf="targetItem.dataType == '1'" type="text" pInputText [(ngModel)]="statusValue" maxlength="50">
                <input *ngIf="targetItem.dataType == '2' || targetItem.dataType == '3'" type="text" pInputText [(ngModel)]="statusValue" (keydown)="msgservice.checkNumValue($event,99999999,true)">
                <input *ngIf="targetItem.dataType == '4'" type="text" pInputText [(ngModel)]="statusValue" (keydown)="msgservice.checkNumValue($event,100,true)">
            </div>
        </div>
    </div>
    <div *ngIf="isAdd && targetItem.scorecardType" class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon requiredNone">Revised:</span>
                <input type="text" pInputText [(ngModel)]="subProposedTarget" (click)="setSubProposedTarget()" maxlength="100" readonly="true">
            </div>
        </div>
    </div>
    <div class="footer">
        <button *ngIf="!isAdd" pButton type="button" (click)="subTargetsaveBtn()" label="Confirm" style="margin-right:10px" [(disabled)]="!subSubjectValue || !subTargetValue"></button>
        <button *ngIf="isAdd" pButton type="button" (click)="subTargetsaveChangeBtn()" label="Confirm" style="margin-right:10px"
            [(disabled)]="!subSubjectValue || !subTargetValue"></button>
        <button pButton type="button" (click)="subTargetCancelBtn()" label="Cancel"></button>
    </div>
</p-dialog>
<p-dialog header="Revised Target" [(visible)]="setProposedTargetDisplay" width="400" [responsive]="true" modal="modal" class="dialog generalDialog">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon required">PPR Date:</span>
                <p-calendar [(ngModel)]="setProposedPPRDate" dateFormat="yy-mm-dd" [monthNavigator]="true" readonlyInput="true" [yearNavigator]="true"></p-calendar>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon required" *ngIf="targetItem.dataType != '4'">Revised Target:</span>
                <span class="ui-inputgroup-addon required" *ngIf="targetItem.dataType == '4'">Revised Target(%):</span>
                <input *ngIf="targetItem.dataType == '1'" type="text" pInputText [(ngModel)]="setProposedProposedTarget" maxlength="25">
                <input *ngIf="targetItem.dataType == '2' || targetItem.dataType == '3'" type="text" pInputText [(ngModel)]="setProposedProposedTarget" (keydown)="msgservice.checkNumValue($event,99999999,true)">
                <input *ngIf="targetItem.dataType == '4'" type="text" pInputText [(ngModel)]="setProposedProposedTarget" (keydown)="msgservice.checkNumValue($event,100,true)">
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon required">Description:</span>
                <input type="text" pInputText [(ngModel)]="setProposedDescription" maxlength="100">
            </div>
        </div>
    </div>
    <div class="footer">
        <button pButton type="button" (click)="setProposedsaveBtn()" label="Confirm" style="margin-right:10px" [(disabled)]="!setProposedPPRDate || !setProposedProposedTarget || !setProposedDescription"></button>
        <button pButton type="button" (click)="setProposedTargetDisplay=false" label="Cancel"></button>
    </div>
</p-dialog>
<p-dialog class="dialog" header="Please Choose Your Manager" [(visible)]="managerSearchDialog" [responsive]="true" [modal]="true"
    width="800">
    <div class="topBar">
        Department:
        <input (keyup)="lookClickEnterSearch($event)" type="text" pInputText [(ngModel)]="managerDialogDepartment"
            class="searchInput"> User Name:
        <input (keyup)="lookClickEnterSearch($event)" type="text" pInputText [(ngModel)]="managerDialogUserName"
            class="searchInput">
        <button pButton type="button" (click)="managerLookClick()" label="Search"></button>
    </div>
    <div class="ui-grid" style="padding:5px">
        <p-dataTable (onRowDblclick)="managerDbclick($event)" [rowHover]=true selectionMode="single" class="data-table" [value]="managerData"
            rows="10" scrollable="true" scrollHeight="30rem">
            <p-column styleClass="ui-grid-col-2" field="userName" header="User Name"></p-column>
            <p-column field="employeeCode" header="Employee ID" styleClass="ui-grid-col-2 align-center"></p-column>
            <p-column styleClass="ui-grid-col-3" field="jobPosition" header="Job"></p-column>
            <p-column styleClass="ui-grid-col-2" field="telephone" header="Telphone"></p-column>
            <p-column styleClass="ui-grid-col-3" field="emailAddress" header="Email"></p-column>
            <p-column styleClass="ui-grid-col-2" field="departmentName" header="Department"></p-column>
            <p-column styleClass="ui-grid-col-2" field="masterName" header="Manager"></p-column>
        </p-dataTable>
        <p-paginator rows="{{managerDataRows}}" first="{{managerDataFirst}}" totalRecords="{{managerDataLen}}" pageLinkSize="3" [rowsPerPageOptions]="[10,20,30]"
            (onPageChange)="managerPaginate($event)"></p-paginator>
    </div>
</p-dialog>
<p-dialog class="dialog" header="Change Log" [(visible)]="changeLogDialog" [responsive]="true" [modal]="true" width="900">
    <div class="ui-grid" style="padding:5px">
        <p-dataTable [rowHover]=true class="data-table" [value]="changeLogStore" rows="10" scrollable="true" scrollHeight="30rem">
            <p-column styleClass="ui-grid-col-3" field="adProjectCode" header="Subject"></p-column>
            <p-column styleClass="ui-grid-col-2" field="elementId" header="Element Name"></p-column>
            <p-column styleClass="ui-grid-col-3" field="subjectName" header="Subject Name"></p-column>
            <p-column styleClass="ui-grid-col-2" field="changeFrom" header="Change From"></p-column>
            <p-column styleClass="ui-grid-col-2" field="changeTo" header="Change To"></p-column>
            <p-column styleClass="ui-grid-col-2" field="description" header="Description"></p-column>
            <p-column styleClass="ui-grid-col-2" field="createUser" header="Create User"></p-column>
            <p-column styleClass="ui-grid-col-2" field="createTime" header="Create Time"></p-column>
        </p-dataTable>
        <p-paginator rows="{{changeLogDataRows}}" first="{{changeLogDataFirst}}" totalRecords="{{changeLogDataLen}}" pageLinkSize="3"
            [rowsPerPageOptions]="[10,20,30]" (onPageChange)="changeLogPaginate($event)"></p-paginator>
    </div>
</p-dialog>
<p-dialog class="dialog" header="BFS" [(visible)]="statusFlagDialog" [responsive]="true" [modal]="true" width="550">
    <div class="topBar">
        Program Code:
        <input (keyup)="BFSEnterSearch($event)" type="text" pInputText [(ngModel)]="BFSProgramCode" class="searchInput"
            style="width:200px">
        <button pButton type="button" (click)="BFSLookClick()" label="Search"></button>
    </div>
    <div class="ui-grid" style="padding:5px">
        <p-dataTable [rowHover]=true class="data-table" [value]="bfsStore" rows="10" scrollable="true" scrollHeight="30rem" (onRowDblclick)="bfsDbclick($event)">
            <p-column styleClass="ui-grid-col-2" field="programCode" header="Program"></p-column>
            <p-column styleClass="ui-grid-col-3" field="targetVolume" header="Scenario"></p-column>
            <p-column styleClass="ui-grid-col-3" field="statusVolume" header="Data"></p-column>
        </p-dataTable>
    </div>
</p-dialog>
<p-dialog class="dialog search-dialog" header="Set Approve User" [(visible)]="setPetMemberDialog" [responsive]="true" showEffect="fade"
    [modal]="true">
    <div>
        Please Set Approve User Of {{setPetMemberMessage}} First!
    </div>
</p-dialog>
<p-dialog class="dialog" header="Set Status" [(visible)]="setStatusDialog" width="450">
    <div style="font-size:14px;font-weight:bold;margin-bottom:5px;background-color:#e6e6e6;padding:7px">Status:</div>
    <div class="ui-g">
        <p-radioButton class="radio-button" style="margin-left:40px" name="White" value="W" label="White" [(ngModel)]="authorizeRadio"></p-radioButton>
        <p-radioButton class="radio-button" style="margin-left:40px" name="Yellow" value="Y" label="Yellow" [(ngModel)]="authorizeRadio"></p-radioButton>
        <p-radioButton class="radio-button" style="margin-left:40px" name="Red" value="R" label="Red" [(ngModel)]="authorizeRadio"></p-radioButton>
        <p-radioButton class="radio-button" style="margin-left:40px" name="Green" value="G" label="Green" [(ngModel)]="authorizeRadio"></p-radioButton>
    </div>
    <div class="footer">
        <button pButton type="button" [(disabled)]="!authorizeRadio" (click)="setStatusSaveBtn()" label="Confirm" style="margin-right:10px"></button>
        <button pButton type="button" (click)="setStatusDialog=false" label="Cancel"></button>
    </div>
</p-dialog>
<select-user-work-flow [changeMemberMessage]="changeMemberMessage" (userRoleOut)="mapRecive($event)"></select-user-work-flow>
<p-growl styleClass="message-class" [(value)]="msgs" life="{{growLife}}"></p-growl>
<p-confirmDialog></p-confirmDialog>