@import '../../../sass/privateStyle';
cost-book {
	.topBar {
		padding: 10px;
		p-dropdown {
		    display: inline-block;
		    width: 150px;
		    margin-left: 10px;
		    margin-right: 20px;
		}
		.projectCodeSerch {
			margin: 0 20px 0 10px;
		}
		input {
			width: 10rem;
		}
	}
	.editBtn {
		color: rgb(55,138,240);
		cursor: pointer;
	}
	.footer {
		text-align: right;
	    padding-top: 10px;
	}
	.step2Title {
		width: 100%;
		height: 35px;
		line-height: 35px;
	    background-color: #eee;
	    font-weight: bold;
	    font-size: 15px;
	    text-indent: 10px;
	}
	.ui-datatable-scrollable .ui-datatable-scrollable-header {
		display: table !important;
	}
	.dialogLittle {
		.required {
	         margin: -.8rem;
	         &:before {
	             padding-right: .3rem;
	             content: "*";
	             color: red;
	         }
		 }
		.ui-dialog-content {
			overflow: inherit;
		}
		.ui-dialog-titlebar {
		    background: #4B98DC;
		    color: #fff;
		}
		.ui-dialog-titlebar a {
			color: #fff;
		}
		.ui-inputgroup {
			& > span {
			    width: 29%;
			    float: left;
			    line-height: 25px;
			}
			& > textarea {
				width: 77%;
			    float: right;
			}
			& > input {
				width: 77%;
			    float: right;
			}
			& > p-dropdown {
				width: 70%;
			    float: right;
			    height: 25px;
			}
			& > p-calendar {
				& > span {
					width: 100%;
					& > input {
						width: 100%;
					}
				}
				width: 77%;
			    float: right;
			}
		}
	}
	.w100 {
		width: 100px;
	}
	#frozenGrid {
		.ui-datatable-unfrozen-view {
			.ui-datatable-scrollable-header {
			    margin-left: -200px;
			}
			.ui-datatable-scrollable-body {
				margin-left: -200px;
			}
		}
	}
	#messageDetail {
		position: fixed;
		background-color: #f5f5f5;
		width: 200px;
		min-height: 50px;
		z-index: -999;
	    box-shadow: 2px 2px 4px 4px #e6e6e6;
	    padding: 5px;
	    word-wrap: break-word;
		word-break: break-all;
	}
}