<p-tabView class="tabView" (onChange)="handleChange($event)">
    <p-tabPanel header="Local CR/DN">
        <div *ngIf="userRoot" class="topBar">
            <button pButton type="button" (click)="localImportBtn()" label="Import"></button>
            <button pButton type="button" (click)="importTxt()" label="Template"></button>
        </div>
        <p-dataTable [rows]="15" [value]="localStore" class="data-table" scrollable="true" scrollHeight="50rem">
            <p-column field="id" header="No" styleClass="ui-grid-col-1 align-center"></p-column>
            <p-column field="importUser" header="Import User" styleClass="ui-grid-col-3 align-center"></p-column>
            <p-column field="importDate" header="Import Date" styleClass="ui-grid-col-3"></p-column>
            <p-column field="description" header="Description" styleClass="ui-grid-col-5"></p-column>
            <p-column *ngIf="userRoot" header="" styleClass="ui-grid-col-2 align-center">
                <template pTemplate="body" let-item="rowData">
                    <span *ngIf="item.id" class="editBtn" (click)="localToDetailBtn(item)">View Detail</span>
                    <span *ngIf="item.id" class="editBtn delBtn" (click)="localDelBtn(item)">Delete</span>
                </template>
            </p-column>
        </p-dataTable>
        <p-paginator totalRecords="{{localStoreLen}}" [rowsPerPageOptions]="[15,30,45]" rows="{{localStoreRows}}" first="{{localStoreFirst}}" pageLinkSize="3" (onPageChange)="localPaginate($event)"></p-paginator>
    </p-tabPanel>
    <p-tabPanel header="Global CR/DN">
        <div *ngIf="userRoot" class="topBar">
            <button pButton type="button" (click)="localImportBtn()" label="Import"></button>
            <button pButton type="button" (click)="importTxt1()" label="Template"></button>
        </div>
        <p-dataTable [rows]="15" [value]="globalStore" class="data-table" scrollable="true" scrollHeight="50rem" [(selection)]="globalSelectedStore">
            <p-column field="id" header="No" styleClass="ui-grid-col-1 align-center"></p-column>
            <p-column field="importUser" header="Import User" styleClass="ui-grid-col-3 align-center"></p-column>
            <p-column field="importDate" header="Import Date" styleClass="ui-grid-col-3"></p-column>
            <p-column field="description" header="Description" styleClass="ui-grid-col-5"></p-column>
            <p-column *ngIf="userRoot" header="" styleClass="ui-grid-col-2 align-center">
                <template pTemplate="body" let-item="rowData">
                    <span *ngIf="item.id" class="editBtn" (click)="localToDetailBtn(item)">View Detail</span>
                    <span *ngIf="item.id" class="editBtn delBtn" (click)="globalDelBtn(item)">Delete</span>
                </template>
            </p-column>
        </p-dataTable>
        <p-paginator totalRecords="{{globalStoreLen}}" [rowsPerPageOptions]="[15,30,45]" rows="{{globalStoreRows}}" first="{{globalStoreFirst}}" pageLinkSize="3" (onPageChange)="globalPaginate($event)"></p-paginator>
    </p-tabPanel>
</p-tabView>
<p-dialog class="dialog" header="CR/DN" [(visible)]="addDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <p-fileUpload mode="basic" name="file" url="{{uploadURL}}" accept="xlsm" maxFileSize="50000000"
        (onUpload)="onBasicUpload($event)"></p-fileUpload>
</p-dialog>
<!-- 信息提示页 -->
<p-dialog class="dialog" [(visible)]="messageDialog">
    <p-header>
        <span style="font-size:16px;">CR/DN</span>
    </p-header>
    <p-dataTable class="ui-grid-row data-table" [value]="messageData" scrollable="true" scrollHeight="30rem">
        <p-column styleClass="ui-grid-col-3" field="colIndex" header="Col">
        </p-column>
        <p-column styleClass="ui-grid-col-3" field="rowIndex" header="Row"></p-column>
        <p-column styleClass="ui-grid-col-6" field="errorInfo" header="Error Info"></p-column>
    </p-dataTable>
    <p-footer style="float:right;margin:0 20px 10px 0">
        <button pButton type="button" *ngIf="InportDisabled" (click)="sureImport()" label="Import"></button>
        <button pButton type="button" (click)="messageDialog=false" label="Cancel"></button>
    </p-footer>
</p-dialog>
<p-dialog class="dialog crdnDialog" header="CR/DN" [(visible)]="toLocalDetailDialog" [responsive]="true" showEffect="fade" [modal]="true" width="1100">
    <div class="topBar">
            Program:
            <p-dropdown class="log" autoWidth="false" [options]="localProgramSerchStore" [(ngModel)]="localProgramSerch" filter="filter"></p-dropdown>
            Model Year:
            <input (keyup)="localLookUpEnterSearch($event)" type="text" style="width:70px;" pInputText [(ngModel)]="localModelYearSerch">
            CR/DN:
            <p-dropdown class="small" autoWidth="false" [options]="localCRDNStore" [(ngModel)]="localCRDN" appendTo="body"></p-dropdown>
            CR/DN NO:
            <input (keyup)="localLookUpEnterSearch($event)" style="width:70px;" type="text" pInputText [(ngModel)]="localCRDNNo">
            <button style="margin-left:10px;" pButton type="button" (click)="localLookUpBtn()" label="Search"></button>
            <button pButton type="button" [(disabled)]="!localDetailSelectedStore.length" (click)="localDetailDelsBtn()" label="Delete"></button>
            <button pButton type="button" [(disabled)]="!localDetailSelectedStore.length" (click)="setDeptsBtn()" label="Set Dep"></button>
        </div>
    <p-dataTable [rows]="10" [value]="localDetailStore" class="data-table" [(selection)]="localDetailSelectedStore" scrollable="true" scrollHeight="30rem">
        <p-column [style]="{'width':'30px'}" selectionMode="multiple"></p-column>
        <p-column field="status" header="Status" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column field="crdnNo" header="CR/DN No" styleClass="ui-grid-col-2"></p-column>
        <p-column field="subject" header="Subject" styleClass="ui-grid-col-3"></p-column>
        <p-column field="redZone" header="Zone" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column field="programs" header="Programs" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column header="Department" styleClass="ui-grid-col-2 align-center">
            <template pTemplate="body" let-item="rowData">
                <span *ngIf="item.deptId && item.id" class="editBtn delBtn" (click)="setLocalDeptBtn(item)">{{item.deptId}}</span>
                <span *ngIf="!item.deptId && item.id" class="editBtn delBtn" (click)="setLocalDeptBtn(item)">Set</span>
            </template>
        </p-column>
        <p-column field="modelYear" header="Model Year" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column field="initiator" header="Initiator" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column field="icrOriginalDate" header="ICR Original Date" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column field="finalDn" header="Final DN" styleClass="ui-grid-col-2 align-center"></p-column>
        <p-column header="" styleClass="ui-grid-col-1 align-center">
            <template pTemplate="body" let-item="rowData">
                <span *ngIf="item.id" class="editBtn delBtn" (click)="localDetailDelBtn(item)">Delete</span>
            </template>
        </p-column>
    </p-dataTable>
    <!-- <p-paginator totalRecords="{{localDetailStoreLen}}" rows="{{localDetailStoreRows}}" first="{{localDetailStoreFirst}}" (onPageChange)="localDetailPaginate($event)"></p-paginator> -->
    <p-paginator totalRecords="{{localDetailStoreLen}}" [rowsPerPageOptions]="[10,20,30]" rows="{{localDetailStoreRows}}" first="{{localDetailStoreFirst}}" pageLinkSize="3" (onPageChange)="localDetailPaginate($event)"></p-paginator>
</p-dialog>
<p-dialog class="dialog" header="Select Department" [(visible)]="departmentDialog">
    <p-dataTable class="ui-grid-row data-table" [value]="departmentData" scrollable="true" scrollHeight="30rem" (onRowDblclick)="dbclick($event)" [rowHover]=true>
        <p-column styleClass="ui-grid-col-3" field="deptName" header="Department Name">
        </p-column>
    </p-dataTable>
</p-dialog>
<p-growl styleClass="message-class" [(value)]="msgs" life="3000"></p-growl>
<p-confirmDialog></p-confirmDialog>