<!-- <p-tabView class="tab-view" (onChange)="changeTab($event)"> -->
    <!-- <p-tabPanel header="Timesheet Data"> -->
        <!-- *ngIf="selectedTimeSheet" -->
        <time-sheet-data-work-flow [(auditForm)]="auditForm"></time-sheet-data-work-flow>
    <!-- </p-tabPanel> -->
    <!-- <p-tabPanel header="Devlibables">
        <devlibables-work-flow *ngIf="selectedDevlibables"></devlibables-work-flow>
    </p-tabPanel> -->
    <!-- <p-tabPanel header="Flies"> -->
        <!-- <files-work-flow *ngIf="selectedFiles"></files-work-flow> -->
    <!-- </p-tabPanel> -->
<!-- </p-tabView> -->