<div class="ui-grid region-code">
    <button *ngIf="localStorageAuthority" pButton [disabled]="!changeCategoryCode" type="button" class="content-add" (click)="addClick()"
        label="Add"></button>
        <!--  scrollable="{{scrollable}}" scrollHeight="30rem" -->
    <p-dataTable scrollable="true" scrollHeight="30rem" class="ui-grid-row data-table" [value]="baseData">
        <p-column styleClass="ui-grid-col-1" header="NO">
            <template let-idx="rowIndex" pTemplate="body">
                {{idx + 1}}
            </template>
        </p-column>
        <p-column styleClass="ui-grid-col-2" field="regionCodes" header="Region Code(WBS L3)"></p-column>
        <p-column styleClass="ui-grid-col-2" field="regionCategoryName" header="Region Type"></p-column>
        <p-column styleClass="ui-grid-col-2" field="regionGroupName" header="Region Group"></p-column>
        <p-column styleClass="ui-grid-col-1" field="regionName" header="Desctiption"></p-column>
        <p-column styleClass="ui-grid-col-1" field="costCenter" header="CostCenter"></p-column>
        <p-column styleClass="ui-grid-col-1" field="companyCode" header="Company Code"></p-column>
        <p-column *ngIf="localStorageAuthority" styleClass="ui-grid-col-2" header="">
            <template let-idx="rowIndex" let-data="rowData" pTemplate="body">
                <span class="edit-span" (click)="editClick(idx,data)">Edit</span>
                <span class="edit-span" (click)="deleteClick(idx,data)">Delete</span>
            </template>
        </p-column>
    </p-dataTable>
    <!-- 添加弹窗 -->
    <p-dialog class="dialog" header="Region" [(visible)]="addDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label class="required" for="regionCode">Region Code:</label>
                </div>
                <div class="ui-grid-col-8">
                    <input (change)="dialogCode = checkEnglish(dialogCode)" maxlength="2" pInputText id="regionCode" [(ngModel)]="dialogCode" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="regionCode">Region Type:</label>
                </div>
                <div class="ui-grid-col-8">
                    <input disabled pInputText id="regionCode" [(ngModel)]="dialogType" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="regionCode">Region Group:</label>
                </div>
                <div class="ui-grid-col-8">
                    <input disabled pInputText id="regionCode" [(ngModel)]="dialogGroup" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label class="required" for="Desctiption">Desctiption :</label>
                </div>
                <div class="ui-grid-col-8">
                    <input maxlength="36" pInputText id="Desctiption" [(ngModel)]="dialogDesctiption" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label class="required" for="constCenter">Cost Center :</label>
                </div>
                <div class="ui-grid-col-8">
                    <input maxlength="10" pInputText id="constCenter" [(ngModel)]="dialogConstCenter" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label class="required" for="companyCode">Company Code :</label>
                </div>
                <div class="ui-grid-col-8">
                    <input maxlength="4" pInputText id="companyCode" [(ngModel)]="dialogCompanyCode" />
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton (click)="addCancle()" label="Cancel"></button>
                <button [(disabled)]="!dialogCompanyCode || !dialogDesctiption || !dialogConstCenter || !dialogCode" type="button" pButton
                    (click)="addSave()" label="Confirm"></button>
            </div>
        </p-footer>
    </p-dialog>
    <!-- 编辑信息  -->
    <p-dialog class="dialog" header="Investment Property" [(visible)]="editDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label class="required" for="regionCode">Region Code:</label>
                </div>
                <div class="ui-grid-col-8">
                    <input disabled maxlength="2" pInputText id="regionCode" [(ngModel)]="dialogCode" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="regionCode">Region Type:</label>
                </div>
                <div class="ui-grid-col-8">
                    <input disabled pInputText id="regionCode" [(ngModel)]="dialogType" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="regionCode">Region Group:</label>
                </div>
                <div class="ui-grid-col-8">
                    <input disabled pInputText id="regionCode" [(ngModel)]="dialogGroup" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label class="required" for="Desctiption">Desctiption :</label>
                </div>
                <div class="ui-grid-col-8">
                    <input maxlength="36" pInputText id="Desctiption" [(ngModel)]="dialogDesctiption" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label class="required" for="constCenter">Cost Center :</label>
                </div>
                <div class="ui-grid-col-8">
                    <input maxlength="10" pInputText id="constCenter" [(ngModel)]="dialogConstCenter" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label class="required" for="companyCode">Company Code :</label>
                </div>
                <div class="ui-grid-col-8">
                    <input maxlength="4" pInputText id="companyCode" [(ngModel)]="dialogCompanyCode" />
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton (click)="editCancle()" label="Cancel"></button>
                <button type="button" [(disabled)]="!dialogCompanyCode || !dialogDesctiption || !dialogConstCenter || !dialogCode" pButton
                    (click)="editSave()" label="Confrim"></button>
            </div>
        </p-footer>
    </p-dialog>
    <!-- 选择添加 -->
    <p-dialog class="dialog dialog-project-parameter" header="Project Parameter" [(visible)]="selectAddDialog" [responsive]="true"
        showEffect="fade" [modal]="true">
        <p-dataTable class="ui-grid-row data-table" [value]="baseRechooseData" scrollable="true" scrollHeight="30rem" selectionMode="single" (onRowDblclick)="addSave($event)">
            <p-column styleClass="ui-grid-col-1" header="NO">
                <template let-idx="rowIndex" pTemplate="body">
                    {{idx + 1}}
                </template>
            </p-column>
            <p-column styleClass="ui-grid-col-3" field="regionCode" header="Region Code(WBS L3)"></p-column>
            <p-column styleClass="ui-grid-col-3" field="regionName" header="Desctiption"></p-column>
            <p-column styleClass="ui-grid-col-3" field="costCenter" header="CostCenter"></p-column>
            <p-column styleClass="ui-grid-col-3" field="companyCode" header="Company Code"></p-column>
        </p-dataTable>
    </p-dialog>
    <!-- 删除弹框 -->
    <p-dialog class="dialog delete-dialog" header="Region" [(visible)]="deleteDialog">
        <div>
            Are You Sure To Delete This Data?
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton (click)="deleteNo()" label="Cancel"></button>
                <button type="button" pButton (click)="deleteYes()" label="Confrim"></button>
            </div>
        </p-footer>
    </p-dialog>
    <!-- 成功弹框提示 -->
    <p-growl styleClass="message-class" [(value)]="msgs" life="{{growLife}}"></p-growl>
</div>