    @import "../../../sass/privateStyle";
    .main-content {
        .project-button {
            margin: 0 0 1rem 0;
        }
        .project-table {
            text-align: center;
        }
        .dialog {
            &>div {
                width: 30%; // height: 50%;
                .required {
                    width: 100%;
                    text-align: center;
                    &:before {
                        padding-right: .3rem;
                        content: "*";
                        color: red;
                    }
                }
                input {
                    width: 100%;
                }
            }
        }
        .delete-dialog {
            &>div {
                width: 30%;
            }
        }
    }