@import '../../../sass/privateStyle';
crdn-tracking {
	.topBar {
		padding: 10px;
		p-dropdown {
		    display: inline-block;
		    width: 12rem;
		    margin: 0 1rem;
		}
		.searchInput {
			margin: 0 1rem;
		}
		input {
			width: 70px;
			margin: 0 1rem;
		}
		button {
			margin-right: 1rem;
		}
	}
	.footer {
		text-align: right;
	    padding-top: 10px;
	}
	.editBtn {
	    margin-right: 10px;
	    display: inline-block;
	    text-align: center;
	}
	.editBtn, .delBtn {
		color: rgb(55,138,240);
		cursor: pointer;
	}
	.generalDialog {
		.ui-dialog-titlebar {
		    background: #4B98DC;
		    color: #fff;
		}
		.ui-dialog-titlebar a {
			color: #fff;
		}
		.ui-fluid .ui-inputtext {
			width: 200px;
		}
		.ui-fluid .ui-dropdown {
		    width: 200px !important;
		}
		.ui-inputgroup-addon {
			width: 130px;
			display: inline-block;
		}
	}
	.ui-datatable-scrollable .ui-datatable-scrollable-header {
		display: table !important;
	}
}