// p-multiSelect,
.drop-down{
    // margin: 0 auto;
    width: 100%;
    .ui-dropdown {
        width: 100% !important;
    }
}

p-dropdown {
    .ui-dropdown-panel {
        z-index: 1000000;
    }
    .ui-dropdown-filter-container {
        width: 100%;
        .ui-dropdown-filter {
            width: 100%;
        }
    }
}